body {
    text-align: center;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/1022/877/276/digital-art-solid-color-wallpaper-preview.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .container {
    margin-top: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 7000px;
  }
  
  input {
    padding: 10px;
    margin: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #1205ce;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #00b336;
  }
  